*{margin:0;padding:0;list-style:none;}

.main-area{width:960px;margin:0 auto;}

.fix{overflow:hidden;}

.header-area {
	background-image: url(img/slider.png);
	height:920px;
	width:1600;
}


.header-top {
	margin-top:60px;
}

.logo {
	float:left;
	margin:3% 3%;
}

.mainmenu {float:left}
.mainmenu ul{margin:0;padding:0;list-style:none;}
.mainmenu ul li{display:inline-block;}
.mainmenu ul li a {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 0 1px;
  text-decoration: none;
  margin-right: 60px;
  
}
.mainmenu ul li a:hover{}

.slider-picture {
  margin-top: 374px;
}

.single-slider {
}

.slider-text {
  float: left;
  width: 420px;
  height: 270px;
  margin-top: 170px;
}
.slider-text h2 {
  color: #fff;
  font-size: 52px;
  font-weight: normal;
  line-height: 1;
}
  
 .slider-text.fix > p {
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  margin-top: 5%;
}


.slider-picture {

}
.content-area.fix {
  margin-bottom: 8%;
}
.contentquote.fix {
  float: left;
  height: 222px;
  margin-top: 8%;
  width: 250px;
}

.contentquote.fix > p {
  font-size: 14px;
  font-weight: normal;
  color:#e77774;
}

.content.fix {
  width: 600px;
  height: 218px;
  margin-top: 9%;
  margin-left: 37%;
}
.content.fix > h3  {
  font-size: 24px;
  font-weight: normal;
  font-family:Myriad Pro;
  color:#e77774;
}
.content.fix > p {
  font-size: 14px;
  font-weight: normal;
  font-family: arial;
  color: #737c85;
}
.footer-area {
  background-color: #e77774;
  padding-bottom: 11%;
}

.footer-top {

}

.single-footer-top {
  width: 150px;
  float: left;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  margin-top: 7%;
  margin-left: 1%;
}
.big-section{width:28%;}

.footer {
background:#f39998;
}
.footer-p {
  color: #fff;
  padding: 7px 0;
  text-align: center;
}